---
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import Layout from "../../layouts/Layout.astro";

dayjs.extend(utc);

export async function getStaticPaths() {
  const posts = await getCollection("thoughts");
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();

const lastModified = dayjs(remarkPluginFrontmatter.lastModified)
  .utc()
  .format("YYYY-MM-DD HH:mm:ss UTC");
---

<Layout title={entry.data.title}>
  <header class="space-y-2 py-4">
    <h1
      class="font-sans text-3xl font-bold text-squirrel-800 dark:text-squirrel-200"
    >
      {entry.data.title}
    </h1>
    <div class="font-sans text-base">
      <span class="text-squirrel-500 dark:text-squirrel-400">
        Last Updated: {lastModified}
      </span>
    </div>
  </header>

  <article class="post font-sans text-lg leading-8 text-squirrel-900">
    <Content />
  </article>
</Layout>

<style is:global>
  .post blockquote {
    @apply flex flex-col items-start gap-4 rounded-sm border-l-2 border-sea-200 bg-sea-100 py-4 pl-4 text-sm dark:border-sea-600 dark:bg-sea-700/30;
  }

  .post section a {
    @apply text-sea-600 underline hover:text-sea-700 dark:text-sea-200 dark:hover:text-sea-300;
  }

  .post pre {
    @apply mt-2 rounded-lg border border-black/10 p-4 font-mono text-sm dark:border-white/10;
  }

  .post p > code,
  .post ol code,
  .post ul code {
    @apply rounded border-0 border-sea-400 bg-squirrel-200/60 px-1 py-px font-mono text-sm text-sea-700 dark:border-white/10 dark:bg-black/20 dark:text-sea-300;
  }

  .post pre code {
    @apply border-0 bg-transparent p-0 font-mono;
  }

  .post ul {
    list-style: inside;
    padding-left: 1rem;
  }
</style>
