---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Jonathan Foster">
  <h1>Open Cover Letter</h1>
  <section>
    <img
      src="/images/computerkid.jpg"
      alt="me as a child sitting at the computer"
    />
    <p>yep that me</p>
  </section>
</Layout>
