---
import { getCollection } from 'astro:content';
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";

const thoughts = await getCollection('thoughts');
---

<Layout title="Jonathan Foster">
  <About />

  <h2 class="text-3xl text-slate-800 font-serif py-4">Projects</h2>
  <section></section>

  <h2 class="text-3xl text-slate-800 font-serif py-4">Thoughts</h2>
  <section>

<ul>
  {thoughts.map(post => (
    <li>
      <a href={`/thoughts/${post.slug}`}>{post.data.title}</a>
    </li>
  ))}
</ul>
  </section>

</Layout>