---
import { getCollection } from "astro:content";
import GitHub from "../components/icons/GitHub.astro";
import Link from "../components/icons/Link.astro";
import Layout from "../layouts/Layout.astro";

const projects = await getCollection("projects");
---

<Layout title="Jonathan Foster">
  <div class="my-2 h-px dark:bg-squirrel-700/40"></div>
  <section class="pl-1 pt-6">
    <ul
      class="border-l-2 border-squirrel-200 pl-6 font-sans dark:border-squirrel-600"
    >
      {
        projects.map((project) => (
          <li class="flex flex-col gap-1 py-4">
            <div class="relative flex items-center gap-2 ">
              <div class="ftw-background absolute h-4 w-4 bg-squirrel-50 dark:bg-squirrel-950" />
              <div class="ftw-dot absolute h-4 w-4 rounded-full border-2 border-orange-600/25 bg-orange-100 shadow-orange-500/30 dark:border-orange-400 dark:bg-orange-500/20 dark:shadow" />
            </div>
            <p class="font-sans text-base text-squirrel-700 dark:text-squirrel-400">
              {project.data.description}
            </p>
            <div class="flex flex-col gap-1 text-squirrel-800 md:flex-row md:items-center md:gap-4 dark:text-sea-100">
              <span class="inline-flex items-center gap-1.5">
                <Link />
                <a
                  href="https://crowdq.fm"
                  class="hover:text-sea-700 hover:underline dark:hover:text-sea-200"
                >
                  crowdq.fm
                </a>
              </span>
              <span class="inline-flex items-center gap-1.5">
                <GitHub />
                <a
                  href="https://github.com/fostertheweb/crowdq.fm"
                  class="hover:text-sea-700 hover:underline dark:hover:text-sea-200"
                >
                  Repository
                </a>
              </span>
            </div>
          </li>
        ))
      }
    </ul>
    <div
      class="h-6 border-l-2 border-dashed border-squirrel-200 pl-2 dark:border-squirrel-600"
    >
    </div>
  </section>
</Layout>

<style>
  .ftw-dot,
  .ftw-background {
    top: 0.45rem;
    left: calc(-2rem + -1px);
  }
</style>
