---
import "@fontsource/inter";
import Job from "../components/Job.astro";
import LinkIcon from "../components/LinkIcon.astro";
import MailIcon from "../components/MailIcon.astro";
import PhoneIcon from "../components/PhoneIcon.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Resume</title>
  </head>
  <body class="mx-auto mb-[0.4in] mt-0 font-inter no-underline">
    <header class="flex items-center justify-between bg-[#f1fff8] p-[0.4in]">
      <div>
        <div class="name">Jonathan Foster</div>
        <div class="text-right text-[#555]">
          🐯 RIT Alumni &middot; 🍵 Matcha Drinker &middot; 🦀 Budding Rustacean
        </div>
      </div>

      <div class="flex flex-col gap-2 text-base text-[#444]">
        <div class="flex items-center">
          <PhoneIcon /><span>(973) 525-4174</span>
        </div>
        <div class="flex items-center">
          <MailIcon />
          <a href="mailto:fostertheweb@gmail.com">fostertheweb@gmail.com</a>
        </div>
        <div class="flex items-center">
          <LinkIcon />
          <a href="https://fostertheweb.com">fostertheweb.com</a>
        </div>
      </div>
    </header>

    <section class="mx-auto mt-8 flex flex-col gap-7">
      <Job
        company="Zendesk"
        location="Remote"
        title="Senior Software Engineer"
        when="August '21 - Present"
        summary={[
          "Demonstrate modern React and Redux through proof of concept",
          "Add new functionality to billing experience for all customers",
          "Participate in recurring working sessions to migrate codebase from Flow to TypeScript",
          "Guide team of contractors to refactor and enhance internal applications",
          "Assisted with maintenance of CI/CD pipelines for department applications and services",
        ]}
      />
      <Job
        company="Enel X"
        location="Rochester, NY / Remote"
        title="Software Engineer"
        when="September '18 - August '21"
        summary={[
          "Architected, implemented, documented and supported full stack applications built with Angular, TypeScript and Node.js",
          "Deployed and managed infrastructure on AWS using Terraform",
          "Corresponded with support team to troubleshoot production issues via Splunk and CloudWatch",
          "Configured and deployed engineering team's CI/CD pipeline utilizing Docker and Jenkins",
        ]}
      />
      <Job
        company="EagleDream Technologies"
        location="Rochester, NY"
        title="Software Engineer"
        when="August '16 - September '18"
        summary={[
          "Led UI team building a product with AngularJS including unit testing and end-to-end testing with Protractor",
          "Promoted the sharing of knowledge and code within the organization",
          "Refactored a React application to leverage Redux and guided the team to implement current best practices",
        ]}
      />
      <Job
        company="Cenify"
        location="Rochester, NY"
        title="Software Engineer"
        when="January '16 - May '16"
        summary={[
          "Started development of internal and consumer facing applications using Express, MongoDB, and React with webpack and npm scripts",
          "Demonstrated ability to make an impact on a small startup team",
        ]}
      />
      <Job
        company="Treehouse"
        location="Remote"
        title="Guest Teacher"
        when="April '16"
        summary={[
          "Worked remotely for over a month to create a course for Treehouse about user authentication and authorization in a Node.js Express server-side rendered application",
          "Wrote a complete course script, example project, and quizzes for the end of each section",
        ]}
      />
      <Job
        company="Apple"
        location="Cupertino, CA"
        title="Software Engineer Intern"
        when="January '15 - August '15"
        summary={[
          "Conducted a live demo of the internal Stack Overflow clone I developed during a presentation to upper management",
          "Regularly attended meetings with a cross-functional working group focused on improving internal software UX",
        ]}
      />
    </section>
  </body>
</html>

<style>
  @font-face {
    font-family: "bluu";
    src:
      url("/fonts/bluunext-bold-webfont.woff2") format("woff2"),
      url("/fonts/bluunext-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "bluu";
    src:
      url("/fonts/bluunext-bolditalic-webfont.woff2") format("woff2"),
      url("/fonts/bluunext-bolditalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: italic;
  }

  body {
    line-height: 1.425;
    color: #444;
  }

  .name {
    font-family: "bluu";
    font-size: 3.5rem;
    color: #3b6f55;
  }
</style>
