<div
  class="flex flex-col items-start gap-4 rounded-sm border-l-2 border-squirrel-200 bg-squirrel-100 py-4 pl-4 text-base dark:border-squirrel-600 dark:bg-squirrel-700/30 sm:flex-row"
>
  <div class="flex flex-col">
    <p class="font-sans text-squirrel-800 dark:text-squirrel-300">
      I've been trying to make the web a better place since 2006. Get it? Foster
      the web.
    </p>
  </div>
</div>
