<div class="flex items-start gap-4">
    <img src="/images/memoji-2.png" alt="memoji" class="rounded w-1/6" />
    <div>
        <p>Hello</p>
        <ul>
            <li><a href="https://github.com/fostertheweb" class="underline">GitHub</a></li>
        </ul>
    </div>
</div>
