<div class="flex flex-col items-start gap-4 py-4 text-base sm:flex-row">
  <div class="flex flex-col">
    <p class="font-sans text-zinc-800 dark:text-zinc-300">
      Hello! I&apos;m, <span
        class="font-semibold text-emerald-600 dark:text-emerald-300"
        >Jonathan</span
      >, a senior software engineer at <a
        href="https://zendesk.com"
        class="text-[rgb(154, 68, 151)] hover:underline">Zendesk</a
      >.
      <p>I enjoy making software.</p>
    </p>
  </div>
</div>
