<div
  class="border-squirrel-200 bg-squirrel-100 dark:border-squirrel-600 dark:bg-squirrel-700/30 flex flex-col items-start gap-4 rounded-sm border-l-2 py-4 pl-4 text-base sm:flex-row"
>
  <div class="flex flex-col">
    <p class="text-squirrel-800 dark:text-squirrel-300 font-sans">
      Hello! I&apos;m, <span
        class="text-sea-600 dark:text-sea-300 font-semibold">Jonathan</span
      >, a senior software engineer at <a
        href="https://zendesk.com"
        class="text-[rgb(154, 68, 151)] hover:underline">Zendesk</a
      >.
    </p>
  </div>
</div>
