---
export interface Props {
  words: string[];
  text: string;
}

const { words, text } = Astro.props;

function highlight(text: string) {
  let highlighted = text;

  words.forEach((word) => {
    const regex = new RegExp(`\\b${word}\\b`, "gi");
    highlighted = highlighted.replace(
      regex,
      `<span class="highlight">${word}</span>`,
    );
  });

  return highlighted;
}
---

<div class="inline" set:html={highlight(text)} />
<style is:global>
  .highlight {
    color: #0077aa !important;
  }
</style>
