---
import { getCollection } from "astro:content";
import { marked } from "marked";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("projects");
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const githubUrl = new URL(entry.data.repo);
const readmeUrl = `https://raw.githubusercontent.com${githubUrl.pathname}/main/README.md`;
const response = await fetch(readmeUrl);
const markdown = await response.text();
const content = marked.parse(markdown);

// TODO: link to repo
// TODO: link to live project
// TODO: load last commit
---

<Layout title={entry.data.name}>
  <header class="space-y-2 py-4">
    <h1 class="font-serif text-4xl text-slate-800">
      <img src={entry.data.logo} class="h-6 dark:invert" />
    </h1>
    <div>
      <a
        href="/"
        class="text-sky-800 underline hover:text-slate-800 dark:text-sky-500 dark:hover:text-sky-600"
        >Jonathan Foster</a
      ><span class="text-slate-500 dark:text-slate-400">
        - Last Commit: abcef1234</span
      >
    </div>
  </header>

  <article set:html={content} class="readme" />

  <Content />
</Layout>

<style is:global>
  @font-face {
    font-family: "Straker";
    src: local("Straker"), url("/fonts/straker-regular.woff2");
    font-weight: normal;
    font-display: swap;
  }
  .readme {
    /* font-family: Georgia, "Times New Roman", Times, serif; */
    @apply font-serif;
  }

  .readme a {
    @apply text-sky-700 underline hover:text-sky-900 dark:text-sky-500 dark:hover:text-sky-600;
  }

  .readme ul {
    @apply mt-2 list-inside list-disc pl-1;
  }

  .readme ul:has(input[type="checkbox"]) {
    @apply list-none;
  }

  .readme ol {
    @apply mt-4 list-inside list-decimal pl-1;
  }

  .readme ul ul {
    @apply mt-0 pl-4;
  }

  .readme h2 {
    @apply mt-6 font-sans text-xl font-semibold;
  }

  .readme h3 {
    @apply mt-4 font-sans text-lg font-semibold dark:text-slate-200;
  }

  .readme p {
    @apply mt-2;
  }

  .readme pre {
    @apply mb-4 mt-2 rounded bg-slate-200/60 p-4 font-mono text-sm dark:bg-black/20;
  }

  .readme p > code,
  .readme ol code,
  .readme ul code {
    @apply rounded border border-sky-400 bg-sky-100 px-1 py-px font-mono text-sm text-sky-900 dark:border-white/10 dark:bg-black/20;
  }

  .readme pre code {
    @apply border-0 bg-transparent p-0 font-mono;
  }

  .readme input {
    @apply accent-sky-500;
    accent-color: #0ea5e9 !important;
    appearance: none;
  }

  .readme input::before {
    @apply mr-1 dark:invert;
    content: "🔜";
  }

  .readme input:checked::before {
    content: "✅";
    filter: invert(0);
  }
</style>
