html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oakes";
  color: #444;
  letter-spacing: 0.8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  line-height: 1.425;
}
