---
export interface Props {
  title: string;
}

import { join } from "node:path";
import { AstroFont } from "astro-font";
import ExternalLink from "../components/ExternalLink.astro";

const { title } = Astro.props;

const makeFontPath = (name: string) => join(process.cwd(), 'public', 'fonts', name)
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <AstroFont
      config={[
        {
          src: [],
          preload: false,
          name: "Archivo",
          display: "swap",
          fallback: "sans-serif",
          cssVariable: "font-archivo",
          googleFontsURL: "https://fonts.googleapis.com/css2?family=Archivo",
        },
        {
          src: [
            {
              style: "italic",
              weight: "normal",
              path: makeFontPath("CascadiaCodeItalic.woff2"),
            },
            {
              style: "normal",
              weight: "normal",
              path: makeFontPath("CascadiaCode.woff2"),
            },
          ],
          preload: false,
          display: "swap",
          name: "Cascadia Code",
          fallback: "sans-serif",
          cssVariable: "font-cascadia",
        },
      ]}
    />
  </head>
  <body
    class="mx-auto w-full max-w-2xl bg-squirrel-50 p-4 text-squirrel-900 dark:bg-squirrel-950 dark:text-squirrel-300 print:max-w-full print:bg-white print:p-0"
  >
    <header
      class="flex flex-col justify-between gap-2 pb-4 print:hidden md:flex-row md:items-center md:gap-0"
    >
      <a href="/" class="flex items-center gap-2">
        <img src="/images/memoji-2.png" alt="memoji" class="h-12 rounded" />
        <div class="flex flex-col">
          <h2
            class="font-sans text-xl font-bold text-sea-600 dark:text-sea-300"
          >
            Jonathan Foster
          </h2>
          <h2
            class="font-mono text-base text-squirrel-500 opacity-80 dark:text-squirrel-50"
          >
            @fostertheweb
          </h2>
        </div>
      </a>

      <ul class="flex gap-6 font-sans text-squirrel-800 dark:text-sea-100">
        <li class="flex items-center gap-1">
          <a
            href="https://github.com/fostertheweb"
            class="hover:text-sea-700 hover:underline dark:hover:text-sea-200"
            >GitHub</a
          >
          <ExternalLink />
        </li>
        <li class="flex items-center gap-1">
          <a
            href="https://twitter.com/fostertheweb"
            class="hover:text-sea-700 hover:underline dark:hover:text-sea-200"
            >Twitter</a
          >
          <ExternalLink />
        </li>
        <li class="flex items-center gap-1">
          <a
            href="https://linkedin.com/in/fostertheweb"
            class="hover:text-sea-700 hover:underline dark:hover:text-sea-200"
            >LinkedIn</a
          >
          <ExternalLink />
        </li>
      </ul>
    </header>
    <slot />
  </body>
</html>
