---
export interface Props {
  title: string;
}

import "@fontsource/calistoga";
import "@fontsource/gabarito";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="mx-auto w-full max-w-screen-sm bg-zinc-50 p-4 text-zinc-900 dark:bg-zinc-800 dark:text-zinc-300"
  >
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Gangster Grotesk";
    src: url("/fonts/GangsterGrotesk-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Gangster Grotesk";
    src: url("/fonts/GangsterGrotesk-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Wremena";
    src: url("/fonts/WremenaRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Wremena";
    src: url("/fonts/WremenaBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Straker";
    src: local("Straker"), url("/fonts/straker-regular.woff2");
    font-weight: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Cascadia Code";
    src: url("/fonts/CascadiaCode.woff2");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Cascadia Code";
    src: url("/fonts/CascadiaCodeItalic.woff2");
    font-weight: normal;
    font-style: italic;
  }
</style>
