---
export interface Props {
  title: string;
}

import "@fontsource/calistoga";
import ExternalLink from "../components/ExternalLink.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="mx-auto w-full max-w-3xl bg-zinc-50 p-4 text-zinc-900 dark:bg-zinc-800 dark:text-zinc-300"
  >
    <header class="flex items-center justify-between pb-4">
      <a href="/" class="flex items-center gap-2">
        <img src="/images/memoji-2.png" alt="memoji" class="h-12 rounded" />
        <div class="flex flex-col">
          <h2
            class="text-xl font-semibold text-emerald-800 dark:text-emerald-300"
          >
            Jonathan Foster
          </h2>
          <h2 class="text-base text-zinc-500 opacity-80 dark:text-zinc-50">
            @fostertheweb
          </h2>
        </div>
      </a>

      <ul class="flex gap-6 font-sans text-zinc-800 dark:text-emerald-100">
        <li class="flex items-center gap-1">
          <a
            href="https://github.com/fostertheweb"
            class="hover:text-emerald-700 dark:hover:text-emerald-200">GitHub</a
          >
          <ExternalLink />
        </li>
        <li class="flex items-center gap-1">
          <a
            href="https://twitter.com/fostertheweb"
            class="hover:text-emerald-700 dark:hover:text-emerald-200"
            >Twitter</a
          >
          <ExternalLink />
        </li>
        <li class="flex items-center gap-1">
          <a
            href="https://linkedin.com/in/fostertheweb"
            class="hover:text-emerald-700 dark:hover:text-emerald-200"
            >LinkedIn</a
          >
          <ExternalLink />
        </li>
      </ul>
    </header>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Gangster Grotesk";
    src: url("/fonts/GangsterGrotesk-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Gangster Grotesk";
    src: url("/fonts/GangsterGrotesk-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Wremena";
    src: url("/fonts/WremenaRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Wremena";
    src: url("/fonts/WremenaBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Straker";
    src: local("Straker"), url("/fonts/straker-regular.woff2");
    font-weight: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Cascadia Code";
    src: url("/fonts/CascadiaCode.woff2");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Cascadia Code";
    src: url("/fonts/CascadiaCodeItalic.woff2");
    font-weight: normal;
    font-style: italic;
  }
</style>
