---
import ExternalLink from "../components/ExternalLink.astro";
---

<main>
  <section
    class="text-squirrel-900 dark:text-squirrel-200 flex flex-col gap-6 py-4"
  >
    <slot />
  </section>

  <div class="bg-squirrel-200 dark:bg-squirrel-700 my-6 h-px w-full"></div>

  <section class="py-4">
    <blockquote
      class="border-squirrel-500 text-squirrel-500 dark:border-squirrel-400 dark:text-squirrel-400 border-l-2 pl-2 font-sans text-base"
    >
      No AI or LLMs were used in the process of writing this post.
    </blockquote>
  </section>

  <div class="flex gap-2 py-4 text-base md:items-center">
    <img
      src="/images/memoji-hand.png"
      alt="memoji"
      class="h-12 w-12 rounded bg-[#b7c8b2]"
    />
    <div>
      <p
        class="text-sea-800 dark:text-sea-300 flex items-center gap-2 font-sans font-semibold"
      >
        Did you really read all of that?
      </p>

      <p class="text-squirrel-800 dark:text-squirrel-300 font-sans">
        Let me know how wrong I am over on <a
          href="https://twitter.com/fostertheweb"
          class="text-squirrel-800 hover:text-sea-700 dark:text-sea-100 dark:hover:text-sea-200 inline-flex items-center gap-1 hover:underline"
          >Twitter <ExternalLink />
        </a>
      </p>
    </div>
  </div>
</main>

<footer class="text-center text-base">
  <a href="/" class="text-squirrel-500 dark:text-squirrel-400 underline"
    >go home</a
  >
</footer>
