---
import About from "../components/About.astro"
---

<main>

<section class="py-4">
<slot />
</section>

<section class="py-4">
<blockquote class="pl-2 text-slate-500 border-l-2 border-slate-500">
    No AI or LLMs were used in the process of writing this post.
</blockquote>
</section>

<About />
</main>
