---
import About from "../components/About.astro";
---

<main>
  <section class="flex flex-col gap-6 py-4 text-slate-900">
    <slot />
  </section>

  <div class="my-6 h-px w-full bg-slate-200"></div>

  <section class="py-4">
    <blockquote class="border-l-2 border-slate-500 pl-2 text-slate-500">
      No AI or LLMs were used in the process of writing this post.
    </blockquote>
  </section>

  <About />
</main>
