---

---

<main>
  <section
    class="flex flex-col gap-6 py-4 text-squirrel-900 dark:text-squirrel-200"
  >
    <slot />
  </section>

  <div class="my-4 h-px w-full bg-squirrel-100 dark:bg-squirrel-700/40"></div>
</main>

<footer class="mt-2 text-center text-base">
  <a href="/" class="text-squirrel-500 underline dark:text-squirrel-400">home</a
  >
</footer>
