---
import ExternalLink from "../components/ExternalLink.astro";
---

<main>
  <section class="flex flex-col gap-6 py-4 text-squirrel-900">
    <slot />
  </section>

  <div class="my-6 h-px w-full bg-squirrel-100 dark:bg-squirrel-700"></div>

  <div class="flex gap-2 py-4 text-base md:items-center">
    <img
      src="/images/memoji-laptop.png"
      alt="memoji"
      class="h-12 w-12 rounded bg-[#b7c8b2]"
    />
    <div>
      <p
        class="flex items-center gap-2 font-sans font-semibold text-sea-800 dark:text-sea-300"
      >
        Go check out the project!
      </p>

      <p class="font-sans text-squirrel-800 dark:text-squirrel-300">
        You can see everything else I'm working on currently on <a
          href="https://github.com/fostertheweb"
          class="inline-flex items-center gap-1 text-squirrel-800 hover:text-sea-700 hover:underline dark:text-sea-100 dark:hover:text-sea-200"
          >GitHub <ExternalLink />
        </a>
      </p>
    </div>
  </div>
</main>

<footer class="text-center text-base">
  <a href="/" class="text-squirrel-500 underline dark:text-squirrel-400"
    >go home</a
  >
</footer>
