---
import About from "../components/About.astro";
---

<main>
  <section class="flex flex-col gap-6 py-4 text-zinc-900">
    <slot />
  </section>

  <div class="my-6 h-px w-full bg-zinc-200 dark:bg-zinc-700"></div>

  <About />
</main>
