---
import ExternalLink from "../components/ExternalLink.astro";
---

<main>
  <section
    class="flex flex-col gap-6 py-4 text-squirrel-900 dark:text-squirrel-200"
  >
    <slot />
  </section>

  <div class="my-4 h-px w-full bg-squirrel-100 dark:bg-squirrel-700/40"></div>

  <div class="flex gap-2 py-4 text-base md:items-center">
    <div>
      <p
        class="flex items-center gap-2 font-sans font-semibold text-sea-800 dark:text-sea-300"
      >
        Hope this helped!
      </p>

      <p class="font-sans text-squirrel-800 dark:text-squirrel-300">
        Share some tips with me on <a
          href="https://twitter.com/fostertheweb"
          class="inline-flex items-center gap-1 text-squirrel-800 hover:text-sea-700 hover:underline dark:text-sea-100 dark:hover:text-sea-200"
          >Twitter <ExternalLink />
        </a>
      </p>
    </div>
  </div>
</main>

<div class="my-4 h-px w-full bg-squirrel-100 dark:bg-squirrel-700/40"></div>

<footer class="mt-2 text-center text-base">
  <a href="/" class="text-squirrel-500 underline dark:text-squirrel-400">home</a
  >
</footer>
